.navbar-column {
    z-index: 2000;
    width: 21%;
    height: 100vh;
    border-right: 1px solid var(--stroke);
    background-color: var(--white);
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
}

.navbar-toggler {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: none;
}

.brand-block {
    width: 21%;
    height: 60px;
    color: var(--white);
    text-align: center;
    background-color: #3952a6;
    font-size: 18px;
    top: 0;
    left: 0;
    position: fixed;
}

.brand-icon {
    width: 60px;
    height: 60px;
    background-color: #1d368b;
    margin-right: 16px;
    transition: all .15s;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.brand-block:hover{
    color: var(--white);
}

.nav-user-profile {
    width: 19.9%;
    height: 170px;
    border-bottom: 1px solid var(--stroke);
    background-color: var(--white);
    text-align: left;
    padding: 24px 30px;
    top: 60px;
    position: fixed;
}

.user-avatar {
    width: 64px;
    height: 64px;
    box-shadow: none;
    background-color: rgba(24, 36, 48, .1);
    border-radius: 50%;
    margin-bottom: 8px;
}

.username {
    color: var(--primary-font);
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: 500;
}

.facility-name {
    color: var(--secondary-font);
    font-family: Inter, sans-serif;
    font-size: 15px;
    line-height: 21px;
}

.navbar-content-wrapper {
    height: 75%;
    width: 80%;
    background-color: var(--white);
    position: absolute;
    top: 230px;
}

.navbar-menu-wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding-bottom: 200px;
    padding-left: 18px;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior:smooth;
    -ms-overflow-style: none;  /* IE and Edge */
}

.nav-link {
    width: 100%;
    max-width: 100%;
    background-color: var(--white);
    color: var(--black);
    padding: 24px 32px;
    margin-top: 10px;
    font-size: 19px;
    line-height: 21px;
}

.nav-link:hover {
    background-color: var(--bkg);
}

.nav-link img {
    width: 24px;
    height: 24px;
    opacity: .5;
    margin-right: 16px;
}

.navbar-menu-base {
    width: 21%;
    border: 1px solid var(--stroke);
    background-color: var(--bkg);
    box-shadow: none;
    margin-top: 16px;
    padding: 16px 24px 16px 32px;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
}


@media (max-width: 991px) { 
    .navbar-column {
        width: 50%;
        border-right-style: none;
        box-sizing: border-box;
    }

    .navbar-content-wrapper {
        background-color: rgba(0, 0, 0, 0);
    }

    .brand-block{
        width: 100%;
    }

    .nav-user-profile {
        width: 100%;
        padding-right: 24px;
    }

    .navbar-menu-wrapper {
        border-right: 1px rgba(0, 0, 0, 0);
        padding-bottom: 96px;
    }

    .navbar-menu-base {
        width: 90%;
        border-radius: 8px;
        padding-bottom: 16px;
        padding-right: 24px;
        position: relative;
        left: 5%;
    }
  }